<div class="key"></div>
<p class="byline brandon">Etape 01: Indiquez votre email:</p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "Indiquez votre Email", :class => "email brandon" %>
  <input class="submit brandon" name="commit" type="submit" value="Envoyer" />
<% end %>
