<p class="thanks brandon">Merci d'avoir participé<br> à notre lancement.</p>
<p class="compiling brandon">Nous allons sous peu vous transmettre votre<br/> coupons dans les prochains jours</p>
<p class="go-to brandon">En attendant, rejoignez-nous sur  <a href="http://www.harrys.com/">FACEBOOK</a></p>
<p class="again brandon">Thank You Again!</p>
